.container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.box {
    /* width: 580px; */
    height: 200px;
    background: #000;
    transition: ease-in-out 6s;
    background-size: cover;
}



.box:hover {
    background-position: bottom left;
}