.hire-btn {
    width: 10em;
    position: relative;
    height: 3.5em;
    border: 3px ridge #ea1414;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
  }
  
  .hire-btn::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #050505;
    transition: 0.5s;
    transform-origin: center;
  }
  
  .hire-btn::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #060606;
    transition: 0.5s;
  }
  
  .hire-btn:hover::before, .hire-btn:hover::after {
    transform: scale(0)
  }
  
  .hire-btn:hover {
    box-shadow: inset 0px 0px 25px #ea1414;
  }